<h2>Preisliste</h2>

<pre>
 Suppe ......... € 2,-
 Hauptspeise ... € 6,-
 Indisch ....... € 6,-         Angebot: Hauptspeise / Indisch + Salat ... € 8,-
 Salat ......... € 3,-
 Nachspeise .... € 2,-
</pre>
