<h2>Preisliste ab 2017</h2>

<pre>
 Suppe ......... € 2.50,-
 Hauptspeise ... € 6.50,-
 Indisch ....... € 6.50,-         Angebot: Hauptspeise / Indisch + Salat ... € 9,-
 Salat ......... € 3.50,-
 Großer Salat .. € 5.50,-
 Nachspeise .... € 2.50,-
 Kuchen ........ € 2.50,-
</pre>
