<p>Hallo <%= @resource.name %>!</p>

<p>Um den symbio-Passwort zu ändern, klicke bitte auf den folgenden Link:</p>

<p><%= link_to 'Mein Passwort ändern', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Falls du dein Passwort nicht ändern möchtest, ignoriere diese E-Mail.</p>