<div class="span-22 prepend-1 append-1 last">

	<h2>Benutzer</h2>
	<table>
		<tr>
			<th>
				ID
			</th>
			<th>
				Name
			</th>
			<th>
				E-Mail
			</th>
			<th>
				Guthaben
			</th>
		</tr>
		<% @users.each do |user| %>
		<tr>
			<td>
				<%= h user.id %>
			</td>
			<td>
				<%= link_to user.name, admin_user_path(user) %>
			</td>
			<td>
				<%= h user.email %>
			</td>
			<td style='text-align: right;'>
				<% if user.balance != nil and user.balance < 0 %>
					<span style='color: #ff0000;'>
				<% end %>
				<%= number_to_currency(user.balance, :locale => 'de-AT') %>
				<% if user.balance != nil and user.balance < 0 %>
					</span>
				<% end %>
			</td>
		</tr>
		<% end %>
	</table>

</div>
